 @* @model nimap_assessment.Models.Category

 <h3>Update Category</h3>
 <div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <div class
        </form>
    </div>
 </div> *@

